/* App.css or About.module.css */

.text-justify {
    text-align: justify;
  }
  
  h1, h2 {
    color: #007bff; /* Bootstrap primary color; adjust as needed */
  }
  
  p {
    line-height: 1.6;
  }
  
  .roundedCircle {
    object-fit: cover; /* Ensures images are nicely fitted */
    width: 100%;
    height: auto;
  }
  