/* cart.css */

.cart-container {
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: box-shadow 0.3s ease-in-out;
}

.cart-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-item img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 8px;
}

.cart-item .item-details {
  flex-grow: 1;
}

.cart-item .item-details h4 {
  margin-bottom: 5px;
}

.cart-item .item-details p {
  color: #666;
}

.cart-item .item-price {
  font-weight: bold;
}

.remove-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #c82333;
}


/* Center the checkout button */
.checkout-button-container {
  text-align: center;
}